### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [615]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Load CSV and print the first 5 columns
players_df = pd.read_csv('Resources/purchase_data.csv')
players_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [616]:
unique_players = players_df['SN'].drop_duplicates().count()
unique_players_df = pd.DataFrame([unique_players], columns=['Total_Players'])
unique_players_df

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [617]:
purchasing_analysis = pd.DataFrame()
unique_items = pd.DataFrame(players_df['Item Name'].unique())
average_price = round(players_df['Price'].mean(), 2)
purchasing_analysis['number_of_unique_items'] = unique_items.count()
purchasing_analysis['average_price'] = average_price
purchasing_analysis['number_of_purchases'] = players_df['Purchase ID'].count()
purchasing_analysis['total_revenue'] = players_df['Price'].sum()
purchasing_analysis

   number_of_unique_items  average_price  number_of_purchases  total_revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [618]:
# Find all unique genders
All_genders = players_df.Gender.unique()

# Print unique genders
print(f'Unique genders: {All_genders}\n')

my_unique_players = players_df[['SN', 'Gender']].drop_duplicates()
gender_data = pd.DataFrame(my_unique_players.Gender.value_counts())
gender_data['Percentage of Data'] = round(100*gender_data['Gender']/gender_data['Gender'].sum(),2)
gender_data

Unique genders: ['Male' 'Other / Non-Disclosed' 'Female']

                       Gender  Percentage of Data
Male                      484               84.03
Female                     81               14.06
Other / Non-Disclosed      11                1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [619]:
gender_analysis_df = pd.DataFrame()
purchasing_analysis_gender_male = players_df.loc[(players_df['Gender'] == 'Male')]
purchasing_analysis_gender_female = players_df.loc[(players_df['Gender'] == 'Female')]
purchasing_analysis_gender_other = players_df.loc[(players_df['Gender'] == 'Other / Non-Disclosed')]
gender_analysis_df['Gender'] = ['Male', 'Female', 'Other / Non-Disclosed' ]

gender_analysis_df['purchase_count'] = [
    purchasing_analysis_gender_male['Purchase ID'].count(),
    purchasing_analysis_gender_female['Purchase ID'].count(),
    purchasing_analysis_gender_other['Purchase ID'].count()
]

gender_analysis_df['average_purchase_price'] = [
    round(purchasing_analysis_gender_male['Price'].mean(),2),
    round(purchasing_analysis_gender_female['Price'].mean(),2),
    round(purchasing_analysis_gender_other['Price'].mean(),2)
]

gender_analysis_df['total_purchase_value'] = [
    purchasing_analysis_gender_male['Price'].sum(),
    purchasing_analysis_gender_female['Price'].sum(),
    purchasing_analysis_gender_other['Price'].sum()
]

#gender_analysis_df['Avg Total Purchase per Person'] = [
    
#]

gender_analysis_df

,Gender,purchase_count,average_purchase_price,total_purchase_value
0,Male,652,3.02,1967.64
1,Female,113,3.20,361.94
2,Other / Non-Disclosed,15,3.35,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [694]:
# Set my bin
age_bin = [0, 9,14,19,24,29,34,39, 40]

# Total age
total_age = [players_df['Age'], players_df['Age'].tolist()]

# Add labels
my_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Print the number of bins and labels
print(len(age_bin))
print(len(my_labels))


age_demographics = players_df['Age']
age_demographics = pd.cut(total_age[1], bins=age_bin, labels=my_labels, right=True)
age_demographics = pd.DataFrame(age_demographics.value_counts(), columns=['total_count'])


all_ages = 0
separate_ages = []
age_percentages = []


for age in age_demographics['total_count']:
    all_ages = all_ages + age
    separate_ages.append(age)

for x in separate_ages:
    age_percentages.append(round(x/all_ages*100,2))
age_demographics['percentage_of_players'] = age_percentages
age_demographics

9
8

       total_count  percentage_of_players
<10             23                   2.98
10-14           28                   3.62
15-19          136                  17.59
20-24          365                  47.22
25-29          101                  13.07
30-34           73                   9.44
35-39           41                   5.30
40+              6                   0.78

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80