### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Load CSV and print the first 5 columns
players_df = pd.read_csv('Resources/purchase_data.csv')
players_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_players = players_df['SN'].drop_duplicates().count()
unique_players_df = pd.DataFrame([unique_players], columns=['Total_Players'])
unique_players_df

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchasing_analysis = pd.DataFrame()
unique_items = pd.DataFrame(players_df['Item Name'].unique())
average_price = round(players_df['Price'].mean(), 2)
purchasing_analysis['number_of_unique_items'] = unique_items.count()
purchasing_analysis['average_price'] = average_price
purchasing_analysis['number_of_purchases'] = players_df['Purchase ID'].count()
purchasing_analysis['total_revenue'] = players_df['Price'].sum()
purchasing_analysis

   number_of_unique_items  average_price  number_of_purchases  total_revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Find all unique genders
All_genders = players_df.Gender.unique()

# Print unique genders
print(f'Unique genders: {All_genders}\n')

my_unique_players = players_df[['SN', 'Gender']].drop_duplicates()
gender_data = pd.DataFrame(my_unique_players.Gender.value_counts())
gender_data['Percentage of Data'] = round(100*gender_data['Gender']/gender_data['Gender'].sum(),2)
gender_data

Unique genders: ['Male' 'Other / Non-Disclosed' 'Female']

                       Gender  Percentage of Data
Male                      484               84.03
Female                     81               14.06
Other / Non-Disclosed      11                1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create a DataFrame with the columns 'Male', 'Female', and 'Other / Non-Disclosed'
gender_analysis_df = pd.DataFrame()
purchasing_analysis_gender_male = players_df.loc[(players_df['Gender'] == 'Male')]
purchasing_analysis_gender_female = players_df.loc[(players_df['Gender'] == 'Female')]
purchasing_analysis_gender_other = players_df.loc[(players_df['Gender'] == 'Other / Non-Disclosed')]
gender_analysis_df['Gender'] = ['Male', 'Female', 'Other / Non-Disclosed' ]

# Save all unique players
unique_males = purchasing_analysis_gender_male['SN'].drop_duplicates()
unique_females = purchasing_analysis_gender_female['SN'].drop_duplicates()
unique_other = purchasing_analysis_gender_other['SN'].drop_duplicates()

# Set index to 'SN' column
purchasing_analysis_gender_male = purchasing_analysis_gender_male.set_index('SN')
purchasing_analysis_gender_female = purchasing_analysis_gender_female.set_index('SN')
purchasing_analysis_gender_other = purchasing_analysis_gender_other.set_index('SN')

# Create list for male, female, and other
male_total_purchase_amount = []
female_total_purchase_amount = []
other_total_purchase_amount = []
    

# Loop through each unique male player
for person in unique_males:
    # Add the total amount spent from each unique player
    # and append it to the male list
    male_total_purchase_amount.append(purchasing_analysis_gender_male.loc[[person], ['Price']].sum())

# Loop through each unique female player
for person in unique_females:
    # Add the total amount spent from each unique player
    # and append it to the female list
    female_total_purchase_amount.append(purchasing_analysis_gender_female.loc[[person], ['Price']].sum())

# Loop through each unique other player
for person in unique_other:
    # Add the total amount spent from each unique player
    # and append it to the female list
    other_total_purchase_amount.append(purchasing_analysis_gender_other.loc[[person], ['Price']].sum())

male_total_purchase_amount = pd.DataFrame(male_total_purchase_amount)
female_total_purchase_amount = pd.DataFrame(female_total_purchase_amount)
other_total_purchase_amount = pd.DataFrame(other_total_purchase_amount)

# Return the total number of purchases from each gender
gender_analysis_df['purchase_count'] = [
    purchasing_analysis_gender_male['Purchase ID'].count(),
    purchasing_analysis_gender_female['Purchase ID'].count(),
    purchasing_analysis_gender_other['Purchase ID'].count()
]

# Return the average purchase amount from each gender
gender_analysis_df['average_purchase_price'] = [
    round(purchasing_analysis_gender_male['Price'].mean(),2),
    round(purchasing_analysis_gender_female['Price'].mean(),2),
    round(purchasing_analysis_gender_other['Price'].mean(),2)
]

# Return the total purchase amount from each gender
gender_analysis_df['total_purchase_value'] = [
    purchasing_analysis_gender_male['Price'].sum(),
    purchasing_analysis_gender_female['Price'].sum(),
    purchasing_analysis_gender_other['Price'].sum()
]

# Return the average purchase amount per person from each gender
gender_analysis_df['Avg Total Purchase per Person'] = [
    round(male_total_purchase_amount.mean(), 2)[0],
    round(female_total_purchase_amount.mean(), 2)[0],
    round(other_total_purchase_amount.mean(), 2)[0],
]

gender_analysis_df

,Gender,purchase_count,average_purchase_price,total_purchase_value,Avg Total Purchase per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [248]:
# Set my bin
age_bin = [0, 9,14,19,24,29,34,39, 100 ]

# Total age
total_age = [players_df['Age'], players_df['Age']]

#unique SNs
unique_SN = players_df['SN'].drop_duplicates()

# Set SN to index
total_unique_ages = players_SN_index_df.loc[unique_SN, ['Age']]
players_SN_index_df = players_df.set_index('SN')
total_unique_ages = total_unique_ages

total_ages_listed = []


for person in unique_SN:
    total_ages_listed.append(total_unique_ages.loc[[person], 'Age'].unique()[0])
    #print(total_unique_ages.loc[[person], 'Age'].unique())

# Add labels
my_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_demographics = players_df['Age']
age_demographics = pd.cut(total_ages_listed, bins=age_bin, labels=my_labels, right=True)
age_demographics = pd.DataFrame(age_demographics.value_counts(), columns=['total_count'])
age_demographics['Percentage of Players'] = round(age_demographics['total_count']/age_demographics['total_count'].sum()*100,2)

age_demographics

       total_count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchasing_analysis_age = pd.cut(players_df['Age'].tolist(), bins=age_bin, labels=my_labels, right=True, retbins=False)
purchasing_analysis_age = pd.DataFrame(purchasing_analysis_age.value_counts(), columns=['purchase_count'])
purchasing_analysis_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
sn_df = players_df['SN'].unique()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame