### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Load CSV and print the first 5 columns
players_df = pd.read_csv('Resources/purchase_data.csv')
players_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_players = players_df['SN'].drop_duplicates().count()
unique_players_df = pd.DataFrame([unique_players], columns=['Total_Players'])
unique_players_df

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchasing_analysis = pd.DataFrame()
unique_items = pd.DataFrame(players_df['Item Name'].unique())
average_price = round(players_df['Price'].mean(), 2)
purchasing_analysis['number_of_unique_items'] = unique_items.count()
purchasing_analysis['average_price'] = average_price
purchasing_analysis['number_of_purchases'] = players_df['Purchase ID'].count()
purchasing_analysis['total_revenue'] = players_df['Price'].sum()
purchasing_analysis

   number_of_unique_items  average_price  number_of_purchases  total_revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Find all unique genders
All_genders = players_df.Gender.unique()

# Print unique genders
print(f'Unique genders: {All_genders}\n')

my_unique_players = players_df[['SN', 'Gender']].drop_duplicates()
gender_data = pd.DataFrame(my_unique_players.Gender.value_counts())
gender_data['Percentage of Data'] = round(100*gender_data['Gender']/gender_data['Gender'].sum(),2)
gender_data

Unique genders: ['Male' 'Other / Non-Disclosed' 'Female']

                       Gender  Percentage of Data
Male                      484               84.03
Female                     81               14.06
Other / Non-Disclosed      11                1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create a DataFrame with the columns 'Male', 'Female', and 'Other / Non-Disclosed'
gender_analysis_df = pd.DataFrame()
purchasing_analysis_gender_male = players_df.loc[(players_df['Gender'] == 'Male')]
purchasing_analysis_gender_female = players_df.loc[(players_df['Gender'] == 'Female')]
purchasing_analysis_gender_other = players_df.loc[(players_df['Gender'] == 'Other / Non-Disclosed')]
gender_analysis_df['Gender'] = ['Male', 'Female', 'Other / Non-Disclosed' ]

# Save all unique players
unique_males = purchasing_analysis_gender_male['SN'].drop_duplicates()
unique_females = purchasing_analysis_gender_female['SN'].drop_duplicates()
unique_other = purchasing_analysis_gender_other['SN'].drop_duplicates()

# Set index to 'SN' column
purchasing_analysis_gender_male = purchasing_analysis_gender_male.set_index('SN')
purchasing_analysis_gender_female = purchasing_analysis_gender_female.set_index('SN')
purchasing_analysis_gender_other = purchasing_analysis_gender_other.set_index('SN')

# Create list for male, female, and other
male_total_purchase_amount = []
female_total_purchase_amount = []
other_total_purchase_amount = []
    

# Loop through each unique male player
for person in unique_males:
    # Add the total amount spent from each unique player
    # and append it to the male list
    male_total_purchase_amount.append(purchasing_analysis_gender_male.loc[[person], ['Price']].sum())

# Loop through each unique female player
for person in unique_females:
    # Add the total amount spent from each unique player
    # and append it to the female list
    female_total_purchase_amount.append(purchasing_analysis_gender_female.loc[[person], ['Price']].sum())

# Loop through each unique other player
for person in unique_other:
    # Add the total amount spent from each unique player
    # and append it to the female list
    other_total_purchase_amount.append(purchasing_analysis_gender_other.loc[[person], ['Price']].sum())

male_total_purchase_amount = pd.DataFrame(male_total_purchase_amount)
female_total_purchase_amount = pd.DataFrame(female_total_purchase_amount)
other_total_purchase_amount = pd.DataFrame(other_total_purchase_amount)

# Return the total number of purchases from each gender
gender_analysis_df['purchase_count'] = [
    purchasing_analysis_gender_male['Purchase ID'].count(),
    purchasing_analysis_gender_female['Purchase ID'].count(),
    purchasing_analysis_gender_other['Purchase ID'].count()
]

# Return the average purchase amount from each gender
gender_analysis_df['average_purchase_price'] = [
    round(purchasing_analysis_gender_male['Price'].mean(),2),
    round(purchasing_analysis_gender_female['Price'].mean(),2),
    round(purchasing_analysis_gender_other['Price'].mean(),2)
]

# Return the total purchase amount from each gender
gender_analysis_df['total_purchase_value'] = [
    purchasing_analysis_gender_male['Price'].sum(),
    purchasing_analysis_gender_female['Price'].sum(),
    purchasing_analysis_gender_other['Price'].sum()
]

# Return the average purchase amount per person from each gender
gender_analysis_df['Avg Total Purchase per Person'] = [
    round(male_total_purchase_amount.mean(), 2)[0],
    round(female_total_purchase_amount.mean(), 2)[0],
    round(other_total_purchase_amount.mean(), 2)[0],
]

gender_analysis_df

,Gender,purchase_count,average_purchase_price,total_purchase_value,Avg Total Purchase per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Set my bin
age_bin = [0, 9,14,19,24,29,34,39, 100 ]

# Total age
total_age = [players_df['Age'], players_df['Age']]

#unique SNs
unique_SN = players_df['SN'].drop_duplicates()

# Set SN to index
total_unique_ages = players_SN_index_df.loc[unique_SN, ['Age']]
players_SN_index_df = players_df.set_index('SN')
total_unique_ages = total_unique_ages

total_ages_listed = []


for person in unique_SN:
    total_ages_listed.append(total_unique_ages.loc[[person], 'Age'].unique()[0])
    #print(total_unique_ages.loc[[person], 'Age'].unique())

# Add labels
my_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_demographics = players_df['Age']
age_demographics = pd.cut(total_ages_listed, bins=age_bin, labels=my_labels, right=True)
age_demographics = pd.DataFrame(age_demographics.value_counts(), columns=['total_count'])
age_demographics['Percentage of Players'] = round(age_demographics['total_count']/age_demographics['total_count'].sum()*100,2)

age_demographics

NameError: name 'players_SN_index_df' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
ages_spending = []
avg_purchase_price = []
sum_of_all_ages = []
avg_per_person = []

purchasing_analysis_age = pd.cut(players_df['Age'].tolist(), bins=age_bin, labels=my_labels, right=True, retbins=False)
purchasing_analysis_age = pd.DataFrame(purchasing_analysis_age.value_counts(), columns=['purchase_count'])

# Save purchase price of all ages less than 10
ages_spending.append(players_df.loc[players_df['Age'] < 10])
ages_spending.append(players_df.loc[(players_df['Age'] > 9) & (players_df['Age'] < 15)])
ages_spending.append(players_df.loc[(players_df['Age'] > 14) & (players_df['Age'] < 20)])
ages_spending.append(players_df.loc[(players_df['Age'] > 19) & (players_df['Age'] < 25)])
ages_spending.append(players_df.loc[(players_df['Age'] > 24) & (players_df['Age'] < 30)])
ages_spending.append(players_df.loc[(players_df['Age'] > 29) & (players_df['Age'] < 35)])
ages_spending.append(players_df.loc[(players_df['Age'] > 34) & (players_df['Age'] < 40)])
ages_spending.append(players_df.loc[(players_df['Age'] > 39)])

for amt in ages_spending:
    avg_purchase_price.append(round(amt['Price'].mean(),2))
    sum_of_all_ages.append(amt['Price'].sum())

purchasing_analysis_age['Average_Purchase_Price'] = avg_purchase_price 
purchasing_analysis_age['Total_Purchase_Value'] = sum_of_all_ages 

new_list_of_lists = []
for age_df in ages_spending:
    unique_SNs = age_df['SN'].unique()
    new_df = age_df.set_index('SN')
    #print(age_df)
    for SN in unique_SNs:
        type(SN)
        avg_per_person.append(new_df.loc[[SN], 'Price'].sum())
    new_list_of_lists.append(avg_per_person)
    avg_per_person = []

avg_spending = []
for list in new_list_of_lists:
    avg_spending.append(round(pd.Series(list).mean(),2))
    
purchasing_analysis_age['Avg_Total_Purchase_per_Person'] = avg_spending
purchasing_analysis_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Grab all unique players
unique_players = players_df['SN'].unique()

# Create new DataFrame and set the index to SN
new_players_df = players_df.set_index('SN')

# Create a new list for each column header
purchase_price_per_player = []
avg_purchase_price_per_player = []
purchase_count = []
total_purchase_count = []

# Loop through each unique player
for a_player in unique_players:
    # Grab the total value generated from each unique player
    purchase_price_per_player.append(round(new_players_df.loc[a_player, ['Price']]['Price'].sum(),2))
    # Grab the average spent from every player
    avg_purchase_price_per_player.append(round(new_players_df.loc[a_player, ['Price']]['Price'].mean(),2))
    # Grab the total number of purchases each player made
    purchase_count.append(new_players_df.loc[a_player, ['Purchase ID']])

for ID in purchase_count:
    total_purchase_count.append(len(ID))

player_info_df = pd.DataFrame(unique_players, columns=['SN'])
player_info_df = player_info_df.set_index('SN')
player_info_df['Purchase_Count'] = total_purchase_count
player_info_df['Average_Purchase_Price'] = avg_purchase_price_per_player
player_info_df['Total_Purchase_Value'] = purchase_price_per_player

type(player_info_df.loc['Lisim78'][1])

player_info_df.sort_values(by=['Total_Purchase_Value'], ascending=False)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [398]:
unique_items = players_df['Item ID'].unique()
item_values_df = pd.DataFrame(unique_items, columns=['Item ID'])
item_values_df = item_values_df.set_index('Item ID')
item_df = players_df.set_index('Item ID')
total_item_value = []
total_item_names = []
unique_item_names = []
total_item_purchases = []
item_prices = []

for item in unique_items:
    total_item_value.append(item_df.loc[item, 'Price'].sum())
    total_item_purchases.append(len(item_df.loc[item]))
    #print(players_df.loc[item, 'Purchase ID'])

item_values_df['Item_Name'] = item_df['Item Name'].drop_duplicates()
# item_values_df['Item_Price'] = item_prices
item_values_df['Purchase_Count'] = total_item_purchases
item_values_df['Total_Purchase_Value'] = total_item_value

for ID in unique_items:
    item_prices.append(item_df.loc[ID]['Price'])

item_df.iloc[:,:]

,Purchase ID,SN,Age,Gender,Item Name,Price
Item ID,,,,,,
108,0,Lisim78,20,Male,"Extraction, Quickblade Of Trembling Hands",3.53
143,1,Lisovynya38,40,Male,Frenzied Scimitar,1.56
92,2,Ithergue48,24,Male,Final Critic,4.88
100,3,Chamassasya86,24,Male,Blindscythe,3.27
131,4,Iskosia90,23,Male,Fury,1.44
...,...,...,...,...,...,...
60,775,Aethedru70,21,Female,Wolf,3.54
164,776,Iral74,21,Male,Exiled Doomblade,1.63
67,777,Yathecal72,20,Male,"Celeste, Incarnation of the Corrupted",3.46
92,778,Sisur91,7,Male,Final Critic,4.19
50,779,Ennrian78,24,Male,Dawn,4.60

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [376]:
item_values_df.sort_values(by=['Total_Purchase_Value'], ascending=False)

,Item_Name,Purchase_Count,Total_Purchase_Value
Item ID,,,
92,Final Critic,13,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
103,Singed Scalpel,8,34.80
...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,2.12
126,Exiled Mithril Longsword,6,2.00
125,Whistling Mithril Warblade,2,2.00
104,Gladiator's Glaive,6,1.93
42,The Decapitator,6,1.75